<!DOCTYPE html>
%html
  %head
    %title Firedeaths
    = stylesheet_link_tag "application", :media => "all"


    %link{rel: "stylesheet", href: "http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css"}
    = javascript_include_tag "leaflet-src"

    = javascript_include_tag "heatmap/heatmap"
    = javascript_include_tag "heatmap/heatmap-leaflet"
    = javascript_include_tag "heatmap/QuadTree"
    = javascript_include_tag 'application'
    %meta{:name => "viewport", :content => "width=device-width"}
    = csrf_meta_tags
  %body
    .page-container
      = yield

