<!DOCTYPE html>
%html
  %head
    %title Firedeaths
    = stylesheet_link_tag "application", :media => "all"


    %link{rel: "stylesheet", href: "http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css"}
    = javascript_include_tag "http://cdn.leafletjs.com/leaflet-0.5.1/leaflet-src.js"

    = javascript_include_tag "heatmap/heatmap.js"
    = javascript_include_tag "heatmap/heatmap-leaflet.js"
    = javascript_include_tag "heatmap/QuadTree.js"
    = javascript_include_tag 'application'
    %meta{:name => "viewport", :content => "width=device-width"}
    = csrf_meta_tags
  %body
    .page-container
      = yield

